<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%X{akkaTimestamp} %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH:-0.0.0.0:5000}</destination>
        <!-- encoder is required -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <logger name="akka" level="INFO"/>
    <logger name="akka.kafka" level="ERROR"/>
    <logger name="org.apache.zookeeper" level="ERROR"/>
    <logger name="org.I0Itec.zkclient" level="ERROR"/>
    <logger name="kafka" level="ERROR"/>
    <logger name="fs2" level="ERROR"/>
    <logger name="org.reflections" level="ERROR"/>
    <logger name="org.apache.kafka" level="ERROR"/>
    <logger name="org.apache.kafka.common.utils.AppInfoParser" level="ERROR"/>
    <logger name="org.apache.kafka.clients.NetworkClient" level="ERROR"/>
    <logger name="com.datastax" level="ERROR"/>
    <logger name="io.netty" level="ERROR"/>
    <logger name="com.codahale.metrics.JmxReporter" level="ERROR"/>
    <logger name="in net.logstash" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="stash"/>
    </root>

</configuration>
